`July 21, 2022`

## **Regular Expression**

### **Raw Strings**

In [12]:
# Untuk membedakan antara regex code dan raw strings, gunakan 'r' di depan tanda kutip

# Contoh 1
path = 'C\Users\tab\news'
print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 1-2: truncated \UXXXXXXXX escape (2247815689.py, line 4)

In [8]:
# Contoh 2
path = 'C\tab\new'
print(path) # \t akan terbaca sebagai tab,
            # \n akan terbaca sebagai new line

C	ab
ew

In [ ]:
# Contoh 3
path = r'C\Users\tab\news'
print(path)

C\Users\tab\news

### **Regex Methods**

In [13]:
# Import library 're' untuk menggunakan regex
import re

#### **re.compile()**

In [14]:
# x terbaca sebagai class str
x = r'\d{4}'
print(type(x))

<class 'str'>

In [15]:
# Untuk mengubahnya menjadi regex dtype (re.Pattern), gunakan re.compile()
x = re.compile(x)
print(type(x))

<class 're.Pattern'>

In [16]:
str1 = 'Saya lahir pada tahun 2022. Pada tahun 2026, umur saya baru 4 tahun.'

# Gunakan re.findall()
hasil = re.findall(x, str1)
hasil

['2022', '2026']


    - re.compile() bisa digunakan untuk mengonversi suatu class object menjadi class re.Pattern.
    - re.findall() digunakan untuk mencari pola yang sama secara berulang.
    - Akan tetapi, jika menggunakan method lain, otomatis cara kerja method lain tersebut mengandung proses compiling, sehingga kita tidak perlu melakukan compiling secara manual.

In [21]:
# Contoh lain untuk membuktikan proses compiling secara otomatis
    # jika menggunakan salah satu regex method.

# Target string
str2 = 'Nomor urut yang sudah dipanggil adalah 89, 302, 333, dan 417.'

# Code regex
str_pattern = r'\d{2}'

hasil = re.findall(str_pattern, str2)
hasil

['89', '30', '33', '41']

#### **re.search()**

In [31]:
# Mencari pola 3 digit secara berurutan

str3 = 'Saya lahir pada tahun 2032. Pada tahun 2026, umur saya baru 4 tahun. Saya tinggal di rumah bernomor 399 jalan Kahatex.'

hasil_re_search = re.search(r'\d{3}', str3)
hasil_re_search # Output-nya 202 karena pada 2022 hanya diambil 3 digit pertama saja.
                # re.search() hanya mengembalikan nilai pertama yang cocok dengan regex
                    # yang ditemukan di target string.
                # Return value berupa match object.

In [ ]:
str3[22:25]

'202'

In [ ]:
# Jika tidak ada yang sesuai dengan pola regex yang didefinisikan,
    # return value akan berupa class NoneType

hasil_re_search2 = re.search(r'\d{5}', str3)
print(hasil_re_search2)
print(type(hasil_re_search2))

None
<class 'NoneType'>

    - Method re.search() akan mencari 3 digit secara berurutan yang ada di dalam string. Meskipun ada angka yang berjumlah 4 digit atau lebih, hanya 3 angka awal saja yang dibaca oleh method ini. Sisa angka lainnya tidak akan dianggap ada.
    - Perlu diingat, method ini hanya mengeluarkan 1 hasil saja. Eksekusi akan berhenti jika sudah ketemu pola yang sesuai dengan regex-nya, meskipun masih ada angka-angka lain yang sesuai spesifikasi. Hasil di output hanyalah angka yang pertama saja.
    - span=(22, 25) berarti nilai yang ada di 'match' berada pada index 22-24. Bisa di-indexing dengan cara str3[22:25]
    - Method re.search() akan mengembalikan re.Match objek jika ada hasil yang ditemukan. Jika tidak ada hasil, maka akan dikembalikan sebagai NoneType.

#### **re.findall()**

- Salah satu method yang paling sering digunakan.
- Mengembalikan semua nilai di target string yang sesuai dengan regex pattern.
- Return value dalam bentuk class list.

In [32]:
str3

'Saya lahir pada tahun 2032. Pada tahun 2026, umur saya baru 4 tahun. Saya tinggal di rumah bernomor 399 jalan Kahatex.'

In [34]:
# Contoh 1
hasil_findall = re.findall(r'\d{1}', str3)
hasil_findall

['2', '0', '3', '2', '2', '0', '2', '6', '4', '3', '9', '9']

In [ ]:
# Cek data type dari return value findall method
print(type(hasil_findall))

<class 'list'>

In [ ]:
# Jika tidak ada yang sesuai dengan regex pattern, maka return value berupa list kosong.
hasil_re_findall2 = re.findall(r'\d{5}', str3)
print(hasil_re_findall2)
print(type(hasil_re_findall2))

[]
<class 'list'>

#### **re.split()**

In [ ]:
# Python split()
str3.split()

['Saya',
 'lahir',
 'pada',
 'tahun',
 '2022.',
 'Pada',
 'tahun',
 '2026,',
 'umur',
 'saya',
 'baru',
 '4',
 'tahun.',
 'Saya',
 'tinggal',
 'di',
 'rumah',
 'bernomor',
 '399',
 'jalan',
 'Kahatex.']

In [ ]:
# Split menggunakan re.split()
hasil_split = re.split(r'\s', str3) # \s berarti 1 whitespace
hasil_split

['Saya',
 'lahir',
 'pada',
 'tahun',
 '2022.',
 'Pada',
 'tahun',
 '2026,',
 'umur',
 'saya',
 'baru',
 '4',
 'tahun.',
 'Saya',
 'tinggal',
 'di',
 'rumah',
 'bernomor',
 '399',
 'jalan',
 'Kahatex.']

In [ ]:
# Contoh delimiter yang flexible menggunakan re.split()

# Split string kalau ketemu pola 3 digit secara berurutan
hasil_split_3digit = re.split(r'\d{3}', str3)
hasil_split_3digit

['Saya lahir pada tahun ',
 '2. Pada tahun ',
 '6, umur saya baru 4 tahun. Saya tinggal di rumah bernomor ',
 ' jalan Kahatex.']

In [ ]:
# Jika tidak ada yang cocok dengan regex pattern, maka akan mengembalikan
    # semua isi string. Tidak ada yang di-split

# Split berdasarkan 3 whitespaces secara beruntun    
hasil_split_3spaces = re.split(r'\s{3}', str3)
hasil_split_3spaces

['Saya lahir pada tahun 2022. Pada tahun 2026, umur saya baru 4 tahun. Saya tinggal di rumah bernomor 399 jalan Kahatex.']

    - Pada regex, \s berarti mencocokkan regular space (whitespace).
    - Perbedaan antara split pada Python dan regex adalah kita bisa mendefinisikan pattern pada delimiter-nya, sedangkan pada Python hanya terbatas pada fixed-characters saja. Jadi, split pada regex jauh lebih fleksibel.
    - Jika tidak ada yang cocok dengan pattern yang didefinisikan di re.split, maka tidak akan ada yang di-split. Output-nya adalah semua yang ada di dalam string.

#### **re.sub()**

    **Syntax: re.sub(pattern, replacement, string, count, flags)**'

**Tiga argumen wajib:**
- pattern: regex pattern untuk target string
- repl: replacement yang akan dimasukkan untuk tiap occurence
- string: variabel target string

**Argumen opsional:**
- count: menandakan angka maksimal dari pattern yang akan diganti. Isinya harus berupa integer positif dan default-nya adalah 0, yang artinya semua occcurrences akan diganti.
- flags: re.I, re.S, re.X, etc.

In [36]:
str4 = 'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex.'

str4

'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex.'

In [41]:
# Mengganti semua kata yang hurufnya kapital dengan kata 'INDEX'

# [A-Z] dinamakan character class
    # [A-Z] --> any uppercase letter
    # [a-z] --> any lowercase letter

hasil_re_sub = re.sub(r'[A-Z]{2,}', 'INDEX', str4)
hasil_re_sub

# [A-Z]{2,} berarti mencari pola dengan huruf kapital [A-Z] yang diulang minimal
    # sebanyak 2 kali dan bisa lebih, berapapun itu.

'Saya INDEX pada tahun 2022. Pada tahun 2026, INDEX saya baru 4 tahun. Saya INDEX di rumah bernomor 399 jalan Kahatex.'

In [45]:
# Jika parameter count diisi dengan suatu value

# Mengganti kata yang mengandung minimal 2 huruf dan
    # berupa huruf kapital semua sebanyak 2 occurrences
hasil_re_sub2 = re.sub(r'[A-Z]{2,}', 'INDEX', str4, 0)
hasil_re_sub2

'Saya INDEX pada tahun 2022. Pada tahun 2026, INDEX saya baru 4 tahun. Saya INDEX di rumah bernomor 399 jalan Kahatex.'

In [44]:
?re.sub

Signature: re.sub(pattern, repl, string, count=0, flags=0)
Docstring:
Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the
replacement repl.  repl can be either a string or a callable;
if a string, backslash escapes in it are processed.  If it is
a callable, it's passed the Match object and must return
a replacement string to be used.
File:      c:\users\achma\appdata\local\programs\python\python39\lib\re.py
Type:      function

#### **Optional Flags**

Beberapa macam optional flags yang sering digunakan:

- re.I --> IGNORECASE --> to perform case insensitive matching.
- re.S --> DOTALL --> cover new line character, when we use dot (.)
- re.X --> VERBOSE --> more flexibility & better formatting when writing more complex patterns.

In [ ]:
str5 = '''Saya LAHIR pada tahun 2022. 
Pada tahun 2026, UMUR saya baru 4 tahun. 
Saya TINGGAL di rumah bernomor 399 jalan Kahatex.
'''

str5

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\n'

##### **re.I (IGNORECASE)**

In [ ]:
# Hanya kata 'saya' dengan s huruf kecil yang match
hasil_tanpa_ignorecase = re.findall(r'saya', str5)
hasil_tanpa_ignorecase

['saya']

In [ ]:
# Semua kata 'saya' akan match.
hasil_ignorecase = re.findall(r'saya', str5, re.I)
hasil_ignorecase

['Saya', 'saya', 'Saya']

##### **re.S (DOTALL)**

In [ ]:
# Hanya akan terbaca kalimat pertama saja

# Mencari karakter apapun diikuti minimal 1 repetisi.
hasil_tanpa_dotall = re.search(r'.+', str5) # mencari karakter apapun tapi tidak bisa menangkap
                                                # newline.
hasil_tanpa_dotall

In [ ]:
# re.S digunakan khususnya jika target string mengandung multiline
hasil_dotall = re.search(r'.+', str5, re.S)
hasil_dotall

In [ ]:
# Validasi hasil di atas
str5[:121]

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\n'

##### **re.X (VERBOSE)**

In [ ]:
hasil_tanpa_verbose = re.search(r'.+\s(.+ax).+(\d\d\s\w{2,})', str5)
hasil_tanpa_verbose

In [ ]:
# Digunakan untuk memberikan dokumentasi terhadap regex pattern yang dibuat
hasil_verbose = re.search(
                        r'''
                        .+ # untuk mencari karakter apapun dan diikuti dengan minimum 1 repetisi
                        \s # 1 whitespace
                        (.+ax) # grouping karakter apapun dan diikuti dengan minimum 1 repetisi ditambah karakter 'ax'
                        .+ # untuk mencari karakter apapun dan diikuti dengan minimum 1 repetisi
                        '''
                        , str5
)

print(hasil_verbose)

None

### **Metacharacters**

#### **The dot (.)**

    dot (.) means match any character except a new line

In [ ]:
str6 = 'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex 2100' 
str6

'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex 2100'

In [ ]:
# dot (.) means match any character except a new line
hasil_dot = re.search(r'.+', str6)
hasil_dot # Output-nya adalah seluruh isi pada string karena semuanya match
          # dengan . dan karena ada +, jadinya diambil semuanya.

In [ ]:
str6[:122]

'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex 2100'

#### **Match pattern in the beginning or the end of string**

##### **The caret (^)**

    The caret (^) matches only at the beginning of string.

In [ ]:
hasil_caret = re.search(r'^\w{4}', str6) # Mencari kata dengan 4 huruf secara berurutan
hasil_caret

In [ ]:
hasil_caret2 = re.search(r'^\w{5}', str6) # Mencari kata dengan 4 huruf secara berurutan
print(hasil_caret2)

None

    - re.search() hanya menampilkan temuan pertama saja jika memang ada yang cocok dengan regex pattern.
    - ^\w tidak akan bisa membaca semua pattern jika terdapat new lines pada string, meskipun menggunakan metode re.findall().
    - Untuk dapat menemukan semua kata yang cocok dengan pattern pada target string meskipun terdapat new lines, gunakan re.findall() dan re.M (untuk multiple line).

**Contoh re.M (multiline flag)**

In [ ]:
str5

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\n'

In [ ]:
hasil_tanpa_M = re.findall(r'^\w{4}', str5) # Mencari kata dengan 4 huruf secara berurutan
hasil_tanpa_M

['Saya']

In [ ]:
# Percobaan dengan menggunakan findall pada target string yang memiliki new line.
hasil_M = re.findall(r'^\w{4}', str5, re.M) # Mencari kata dengan 4 huruf secara berurutan
hasil_M

['Saya', 'Pada', 'Saya']

In [ ]:
# Contoh lain
strx = '''Saya LAHIR pada tahun 
2022. Pada tahun 2026, UMUR saya baru 4 
tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex.
'''

strx

In [ ]:
# Yang perlu diingat, caret (^) hanya membaca kata pertama saja dari suatu string.
# Jika string mengandung lebih dari 1 line dan kita menggunakan re.M, maka kata pertama 
    # dari suatu string dan semua kata pertama setelah new line (\n) akan tertangkap.

# Contoh kasus
hasil_M2 = re.findall(r'^\w{4}', strx, re.M) # Mencari kata dengan 4 huruf secara berurutan
hasil_M2 # Output adalah Saya, 2022, tahu karena 2022 dan tahu tepat berada setelah new line

['Saya', '2022', 'tahu']

#### **The dollar sign ($)**

    Opposite of caret (^), matches at the end of line or string.

In [ ]:
str6

'Saya LAHIR pada tahun 2022. Pada tahun 2026, UMUR saya baru 4 tahun. Saya TINGGAL di rumah bernomor 399 jalan Kahatex 2100'

In [ ]:
# Tanda $ diletakkan di akhir regex pattern karena kita ingin mencari tahu apakah target string
    # diakhiri dengan 4 karakter berupa angka secara beruntun.
hasil_dollar = re.search(r'\d{4}$', str6)
hasil_dollar

In [ ]:
hasil_dollar2 = re.findall(r'\d{4}$', str6)
hasil_dollar2

['2100']

In [ ]:
# Jika akhir string tidak sesuai dengan regex pattern.
re.findall(r'\d{5}$', str6)

[]

#### **The asterisk (*)**

The asterisk (*) matches zero or more repetitions of the preceeding expression in greedy way (as many repetitions as possible).

In [ ]:
str7 = '''Saya LAHIR pada tahun 2022. 
Pada tahun 2026, UMUR saya baru 4 tahun. 
Saya TINGGAL di rumah bernomor 399 jalan Kahatex.
Bapak saya berumur 30 tahun.
'''

In [ ]:
# Contoh 1
# Mencari karakter dengan minimal 2 digit secara beruntun.
# Jika lebih dari 2, maka akan match (greedy).
hasil_asterisk = re.findall(r'\d\d\d*', str7) # \d mencari 1 digit
hasil_asterisk

# Dalam contoh ini, \d yang ketiga bersifat opsional karena diikuti oleh * yang mana artinya bisa match
    # untuk zero repetition.

['2022', '2026', '399', '30']

In [ ]:
# Contoh 2
# Mencari kata yang mengandung huruf A kapital
hasil_asterisk2 = re.findall(r'A.*', str7) # A kapital diikuti oleh karakter 
                                           # apapun kecuali new line dan mengandung 
                                           # minimal 0 repetisi
hasil_asterisk2

# Greedy berarti substrings selain A dan diikuti oleh 1 karakter setelahnya juga ikut ditampilkan
    # di outcome.

['AHIR pada tahun 2022. ', 'AL di rumah bernomor 399 jalan Kahatex.']

In [ ]:
# Kalau mau bersifat non-greedy, gunakan ? setelah *
re.findall(r'A.*?', str7)

['A', 'A']

#### **The plus (+)**

The plus sign (+) matches one or more repetitions of the preceeding expression.

In [ ]:
# By default, sifat + adalah greedy

# Contoh 1
hasil_plus = re.findall(r'A.+', str7)
hasil_plus

['AHIR pada tahun 2022. ', 'AL di rumah bernomor 399 jalan Kahatex.']

In [ ]:
# Contoh 2
# Perbandingan antara * dan + untuk case yang sama

# Asterisk
print('Hasil asterisk:\n', re.findall(r'\d\d\d*', str7)) # \d ketiga sifatnya opsional karena * minimal bisa 0 repetisi

# Plus
print('Hasil plus:\n', re.findall(r'\d\d\d+', str7)) # \d ketiga sifatnya wajib karena + minimal terdapat 1 repetisi

Hasil asterisk:
 ['2022', '2026', '399', '30']
Hasil plus:
 ['2022', '2026', '399']

#### **The question mark (?)**

    - The question mark (?) matches 0 or 1 repetitions of the preceeding expression.
    - Non-greedy behaviour.
    - This sign can cancel the greedy behaviour.

In [ ]:
# ? bersifat non-greedy
hasil_question_mark = re.findall(r'\d\d\d?', str7)
hasil_question_mark

['202', '202', '399', '30']

In [ ]:
# Contoh lain
# Mencari kata yang mengandung huruf A kapital diikuti oleh 1 karakter apapun itu kecuali new line
re.findall(r'A.?', str7)

['AH', 'AL']

#### **Greedy vs Non-greedy behaviour**

#### **The backslash (\)**

The functions:
- Menandakan spesial sequence pada regex (e.g. \w, \d, \s, etc.)
- Escaping special character function with a special meaning in regex (ex: \., \?, etc.)

In [ ]:
str7

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\nBapak saya berumur 30 tahun.\n'

In [ ]:
# Contoh 1

# Mencari digit pada target string (special sequence)
re.findall(r'\d', str7)

[]

In [ ]:
# Contoh 2 (escaping special char function)

# Jika menggunakan backslash sebelum metachars yang ada pada regex, itu berarti kita mencari
    # simbol metachars tersebut pada target string.

# Mencari tanda titik pada target string 
re.findall(r'\.', str7)

['.', '.', '.', '.']

#### **The square bracket []**

- The square bracket menandakan set of characters (character range/class).
- Semua special characters (. ? * +) akan kehilangan fungsi spesialnya ketika berada di dalam [].

In [ ]:
str7

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\nBapak saya berumur 30 tahun.\n'

In [ ]:
# Contoh 1

# Mencari huruf y, x, k yang ada di target string (set of chars)
re.findall(r'[yxk]', str7)

['y', 'y', 'y', 'x', 'k', 'y']

In [ ]:
# Contoh 2

# Special chars kehilangan fungsi spesialnya karena berada di dalam []
# Mirip fungsi backslash untuk escaping special chars function
re.findall(r'[.]', str7)

['.', '.', '.', '.']

In [ ]:
# Contoh 3

# Mencari semua angka yang ada di dalam range 1 hingga 5
re.findall(r'[1-5]', str7)

['2', '2', '2', '2', '2', '4', '3', '3']

In [ ]:
str7

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\nBapak saya berumur 30 tahun.\n'

In [ ]:
# Contoh 4

# Mencari karakter pada range a sampai d diikuti karakter pada range h sampai m pada target string.
re.findall(r'[a-d][h-m]', str7)

['ah', 'ah', 'ah', 'di', 'ah', 'al', 'ah', 'ak', 'ah']

In [ ]:
# Contoh 5

# Berlaku juga untuk angka
re.findall(r'[1-4][5-9]', str7)

['26', '39']

    Jika caret (^) digunakan di dalam square bracket [], maka akan berfungsi sebagai negasi dari expression yang mengikutinya.

In [ ]:
# Contoh 6

# Mencari karakter selain huruf a kecil
print(re.findall(r'[^a]', str7), end=' ')

['S', 'y', ' ', 'L', 'A', 'H', 'I', 'R', ' ', 'p', 'd', ' ', 't', 'h', 'u', 'n', ' ', '2', '0', '2', '2', '.', ' ', '\n', 'P', 'd', ' ', 't', 'h', 'u', 'n', ' ', '2', '0', '2', '6', ',', ' ', 'U', 'M', 'U', 'R', ' ', 's', 'y', ' ', 'b', 'r', 'u', ' ', '4', ' ', 't', 'h', 'u', 'n', '.', ' ', '\n', 'S', 'y', ' ', 'T', 'I', 'N', 'G', 'G', 'A', 'L', ' ', 'd', 'i', ' ', 'r', 'u', 'm', 'h', ' ', 'b', 'e', 'r', 'n', 'o', 'm', 'o', 'r', ' ', '3', '9', '9', ' ', 'j', 'l', 'n', ' ', 'K', 'h', 't', 'e', 'x', '.', '\n', 'B', 'p', 'k', ' ', 's', 'y', ' ', 'b', 'e', 'r', 'u', 'm', 'u', 'r', ' ', '3', '0', ' ', 't', 'h', 'u', 'n', '.', '\n']

In [ ]:
# Validasi outcome
'a' in re.findall(r'[^a]', str7)

False

#### **Character classes**

In [ ]:
# Character class 0-9
re.findall(r'[0-9]', str7)

['2', '0', '2', '2', '2', '0', '2', '6', '4', '3', '9', '9', '3', '0']

In [ ]:
# Character class [a-z] and [A-Z]
print(re.findall(r'[a-zA-Z]', str7), end=' ')

['S', 'a', 'y', 'a', 'L', 'A', 'H', 'I', 'R', 'p', 'a', 'd', 'a', 't', 'a', 'h', 'u', 'n', 'P', 'a', 'd', 'a', 't', 'a', 'h', 'u', 'n', 'U', 'M', 'U', 'R', 's', 'a', 'y', 'a', 'b', 'a', 'r', 'u', 't', 'a', 'h', 'u', 'n', 'S', 'a', 'y', 'a', 'T', 'I', 'N', 'G', 'G', 'A', 'L', 'd', 'i', 'r', 'u', 'm', 'a', 'h', 'b', 'e', 'r', 'n', 'o', 'm', 'o', 'r', 'j', 'a', 'l', 'a', 'n', 'K', 'a', 'h', 'a', 't', 'e', 'x', 'B', 'a', 'p', 'a', 'k', 's', 'a', 'y', 'a', 'b', 'e', 'r', 'u', 'm', 'u', 'r', 't', 'a', 'h', 'u', 'n']

In [ ]:
# Mencari selain angka
print(re.findall(r'[^0-9]', str7), end=' ')

['S', 'a', 'y', 'a', ' ', 'L', 'A', 'H', 'I', 'R', ' ', 'p', 'a', 'd', 'a', ' ', 't', 'a', 'h', 'u', 'n', ' ', '.', ' ', '\n', 'P', 'a', 'd', 'a', ' ', 't', 'a', 'h', 'u', 'n', ' ', ',', ' ', 'U', 'M', 'U', 'R', ' ', 's', 'a', 'y', 'a', ' ', 'b', 'a', 'r', 'u', ' ', ' ', 't', 'a', 'h', 'u', 'n', '.', ' ', '\n', 'S', 'a', 'y', 'a', ' ', 'T', 'I', 'N', 'G', 'G', 'A', 'L', ' ', 'd', 'i', ' ', 'r', 'u', 'm', 'a', 'h', ' ', 'b', 'e', 'r', 'n', 'o', 'm', 'o', 'r', ' ', ' ', 'j', 'a', 'l', 'a', 'n', ' ', 'K', 'a', 'h', 'a', 't', 'e', 'x', '.', '\n', 'B', 'a', 'p', 'a', 'k', ' ', 's', 'a', 'y', 'a', ' ', 'b', 'e', 'r', 'u', 'm', 'u', 'r', ' ', ' ', 't', 'a', 'h', 'u', 'n', '.', '\n']

#### **Whitespace characters**

- Space from keyboard
- Space (\s)
- New line char (\n)
- Tab char (\t)
- Carriage return (\r)
- Form feed (\f)
- Vertical tab (\v)

In [ ]:
# Mencari whitespaces
print(re.findall(r'[ \s\n\t\r\f\v]', str7), end=' ')

[' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', '\n']

In [ ]:
# Mencari selain whitespace pada target string
print(re.findall(r'[^ \s\n\t\r\f\v]', str7), end=' ')

['S', 'a', 'y', 'a', 'L', 'A', 'H', 'I', 'R', 'p', 'a', 'd', 'a', 't', 'a', 'h', 'u', 'n', '2', '0', '2', '2', '.', 'P', 'a', 'd', 'a', 't', 'a', 'h', 'u', 'n', '2', '0', '2', '6', ',', 'U', 'M', 'U', 'R', 's', 'a', 'y', 'a', 'b', 'a', 'r', 'u', '4', 't', 'a', 'h', 'u', 'n', '.', 'S', 'a', 'y', 'a', 'T', 'I', 'N', 'G', 'G', 'A', 'L', 'd', 'i', 'r', 'u', 'm', 'a', 'h', 'b', 'e', 'r', 'n', 'o', 'm', 'o', 'r', '3', '9', '9', 'j', 'a', 'l', 'a', 'n', 'K', 'a', 'h', 'a', 't', 'e', 'x', '.', 'B', 'a', 'p', 'a', 'k', 's', 'a', 'y', 'a', 'b', 'e', 'r', 'u', 'm', 'u', 'r', '3', '0', 't', 'a', 'h', 'u', 'n', '.']

#### **The curly braces {}**

    Repetition operator like * and +

In [ ]:
str7

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\nBapak saya berumur 30 tahun.\n'

In [ ]:
# Akan match untuk setiap kata yang memiliki minimal 4 karakter.
# Jika memiliki lebih dari 4 karakter, maka di outcome berupa penggalan katanya saja untuk 4 karakter pertama.
print(re.findall(r'\w{4}', str7), end=' ')

['Saya', 'LAHI', 'pada', 'tahu', '2022', 'Pada', 'tahu', '2026', 'UMUR', 'saya', 'baru', 'tahu', 'Saya', 'TING', 'ruma', 'bern', 'omor', 'jala', 'Kaha', 'Bapa', 'saya', 'beru', 'tahu']

In [ ]:
# Mencari hanya kata yang terdiri dari 4 karakter saja.
print(re.findall(r'\b\w{4}\b', str7), end=' ') # \b di awal dan akhir lah yang menjadikan outcome terbatas
                                               # hanya pada kata yang memiliki 4 karakter.

['Saya', 'pada', '2022', 'Pada', '2026', 'UMUR', 'saya', 'baru', 'Saya', 'saya']

In [ ]:
numbers = '12214515151251615661'

# Mencari angka dengan repetisi sebanyak 3 hingga 6 kali
# Defaultnya bersifat greedy, karena mengembalikan 6 digit
re.search(r'\d{3,6}', numbers)

In [ ]:
# Menggunakan findall
re.findall(r'\d{3,6}', numbers)

['122145', '151512', '516156']

In [ ]:
# Cancelling gready behaviour, akan mengambil repetisi terkecil, yaitu 3 digit
re.search(r'\d{3,6}?', numbers)

In [ ]:
re.findall(r'\d{3,6}?', numbers)

['122', '145', '151', '512', '516', '156']

#### **The pipe (|)**

- A|B|C berarti A atau B atau C, return value akan berupa salah satu kondisi saja yang mememnuhi.
- Jika pada target string ada yang memenuhi salah satu kondisi, maka kondisi lain akan diabaikan.

In [ ]:
str7

'Saya LAHIR pada tahun 2022. \nPada tahun 2026, UMUR saya baru 4 tahun. \nSaya TINGGAL di rumah bernomor 399 jalan Kahatex.\nBapak saya berumur 30 tahun.\n'

In [ ]:
# Contoh 1

# Pattern ketiga yang pertama match dengan yang adaa di st7,
    # sehingga pattern yang lainnya diabaikan
re.search(r'\d{3}|\d{4}|\b[a-z]{2}', str7)

In [ ]:
# Contoh 2
re.search(r'\d{3}|\d{4}|\b[a-z]{2}\b', str7)

In [ ]:
# Pipe menggunakan findall
 
# Untuk setiap kata di target string akan dicocokkan dengan regex pattern. 
# Jika ada yang sesuai, maka kondisi lain yang serupa akan diabaikan.
re.findall(r'\d{3}|\d{4}|\b[a-z]{2}\b', str7)

['202', '202', 'di', '399']

## **From the slides**

### **Character sets**

In [ ]:
# Cara 1
words = 'grey gray groy griy gruy'

re.findall(r'gr[ea]y', words)

['grey', 'gray']

    The r means that the string is to be treated as a raw string, which means all escape codes will be ignored.

In [ ]:
# Bisa juga regex pattern-nya dimasukkan ke dalam variabel

words = 'grey gray groy griy gruy'
pattern = 'gr[ea]y'

re.findall(pattern, words)

['grey', 'gray']

In [ ]:
# Regex pada Python adalah case sensitive

words = 'grey gray groy griy gruy'
pattern = 'gr[EA]y'

re.findall(pattern, words)

# Jika tidak ada yang match, maka akan dikembalikan list kosong.

[]

In [ ]:
# Contoh lain
hewan = 'katak kodok'
pattern = 'k[ao][td][ao]k'

re.findall(pattern, hewan)

['katak', 'kodok']

In [ ]:
# Challenge-nya adalah bagaimana jika kita hanya ingin mengambil katak 
    # dan kodok dari target string di bawah ini.

hewan = 'katak kotak kodok kodak'
pattern = 'k[ao][td][ao]k'

re.findall(pattern, hewan)

# Kalau dengan regex yang sama, maka akan terambil semuanya.

['katak', 'kotak', 'kodok', 'kodak']

### **Character ranges**

    [a-zA-z] and [0-9]

In [ ]:
target = 'XRA 000, 1AA 1AA'
pattern = '''[A-Z0-9][A-Z][A-Z]
        \s[0-9][A-Z0-9][A-Z0-9]'''

re.findall(pattern, target)

[]

Karakter ke:
1. Huruf kapital atau digit
2. Huruf kapital
3. Huruf kapital
4. Spasi
5. Digit
6. Digit atau huruf kapital
7. Digit atau huruf kapital

In [ ]:
# Cara lain
target = 'XRA 000, 1AA 1AA'
pattern = '[A-Z0-9]{3}\s[A-Z0-9]{3}'

re.findall(pattern, target)

['XRA 000', '1AA 1AA']

In [ ]:
# Bagaimana kalau komanya dihapus?
target = 'XRA 000 1AA 1AA'
pattern = '[A-Z0-9]{3}\s[A-Z0-9]{3}'

re.findall(pattern, target)

# Outcome-nya ternyata tetap sama.

['XRA 000', '1AA 1AA']

In [ ]:
# Bagaimana kalau 0 pada karakter ke 5 diganti huruf?
# Bandingkan hasil dari kedua regex berikut.

target = 'XRA G00 1AA 1AA'
pattern1 = '[A-Z0-9][A-Z][A-Z]\s[0-9][A-Z0-9][A-Z0-9]'

pattern2 = '[A-Z0-9]{3}\s[A-Z0-9]{3}'


print(re.findall(pattern1, target))
print(re.findall(pattern2, target))

['1AA 1AA']
['XRA G00', '1AA 1AA']

- Regex pertama lebih rigid karena pada karakter kelima, kita hanya mendefinisikan digit saja, sehingga pola yang pertama pada target tidak bisa ditangkap.

In [ ]:
# Cara lain
target = 'XRA 000 1AA 1AA'
pattern = '[\w\d]+\s[\w\d]+'

re.findall(pattern, target)

['XRA 000', '1AA 1AA']

### **Negative character sets [^]**

- Jika ^ digunakan dalam [], maka berarti negasi.
- Mencari hasil selain dari yang didefinisikan di regex pattern.

In [ ]:
target = 'hog dog bog'

# Kita mau menangkap kata lain selain 'bog'
re.findall(r'[^b]og', target)

['hog', 'dog']

In [ ]:
# Jika tidak digunakan dalam [], maka akan mencari yang match 
    # dengan regex pada awal string

re.findall(r'^\w.*', target)

['hog dog bog']

### **Metacharacters**

* * *
* <font color="red">[0-9]</font> Matches a single digit
* <font color="red">[a-z0-9]</font> Matches a single character that must be a lower case letter or a digit.
* <font color="red">[A-Za-z]</font> Matches a single character that much be a upper/lower case letter 
* <font color="red">\d</font> Matches any decimal digit; equivalent to the set [0-9].
* <font color="red">\D</font> Matches characters that are not digits, which is equivalent to [^0-9] or [^\d].
* <font color="red">\w</font> Matches any alphanumeric character, which is equivalent to [a-zA-Z0-9_].
* <font color="red">\W</font> Matches any non-alphanumeric character; which is equivalent to [^a-zA-Z0-9_] or [^\w].
* <font color="red">\s</font> Matches any whitespace character; which is equivalent to [\t\n\r\f\v], where \t indicates taps, \n  line feeds, \r carriage returns, \f form feeds and \v vertical tabs.
* <font color="red">\S:</font> Matches any non-whitespace character; which is equivalent to  [^ \t\n\r\f\v].
* <font color="red">ˆ</font> Matches the start of the line.
* <font color="red">$</font> Matches the end of the line.


More information can be found here :
https://docs.python.org/2/library/re.html
* * *

In [ ]:
# \r adalah carriage return
# Kata yang kita sisipkan \r di depannya akan muncul 
    # sebagai index pertama di output menggantikan kata pertama 
    # sesuai dengan jumlah karakter pada kata \r yang didefinisikan.

# Contoh 1
kalimat = 'Saya mau makan \rnasi'
print(kalimat)

# Saya digantikan oleh nasi karena sama-sama memiliki # 4 karakter.

nasi mau makan

In [ ]:
# Contoh 2
kalimat = 'Teman mau makan \rnasi'
print(kalimat)

# Hanya tema yang akan digantikan oleh nasi karena nasi hanya memiliki 4 karakter
    # sedangkan teman memiliki 5 karakter.

nasin mau makan

In [ ]:
year = '2022'
re.findall(r'\w\w\w\w', year)

['2022']

In [ ]:
year = '2022'
re.findall(r'\W\W\W\W', year)

[]

In [ ]:
# Cara mudah
year = '2022 - 2025'
re.findall(r'\w\w\w\w - \w\w\w\w', year)

['2022 - 2025']

In [ ]:
# Cara lain yang lebih fleksibel
year = '2022 - 2025'
re.findall(r'\w+\s-\s\w+', year)

['2022 - 2025']

### **Repetition metacharacters**

* <font color="red">.</font> Matches any character (a wildcard).
* <font color="red">*</font> Matches when the preceding character occurs zero or more times.
* <font color="red">+</font> Matches when the preceding character occurs one or more times.
* <font color="red">?</font> Matches when the preceding character occurs zero or one times.

In [ ]:
target = 'oops ooops oooops oooooops'

# Ops tidak boleh tertangkap 2 karakter pertama haruslah 'o'
re.findall(r'oo*ps oo+ps', target)

# Pattern kata pertama adalah oo*ps
# Pattern kata kedua adalah oo+ps

['oops ooops', 'oooops oooooops']

### **Quantified repetitions**

- Digunakan jika ingin mendefinisikan secara spesifikan repetisi yang diinginkan, dalam bentuk range.
- {m, n} di mana m adalah nilai minimum dan n nilai maksimum.
- m bersifat wajib didefinisikan, sedangkan n bersifat opsional.

In [ ]:
# Dengan menggunakan contoh di atas
target = 'oops ooops oooops oooooops'

re.findall(r'o{2,4}ps o{3,6}ps', target)

# Tapi hasilnya jadi kurang flexible dibandingkan menggunakan metachars.

['oops ooops', 'oooops oooooops']

### **Grouping**

- (...) 
- Regex yang berada di dalam () berarti dihitung sebagai 1 grup.
- Regex yang berada di dalam () berarti akan dioperasikan secara keseluruhan dengan metachar yang mengikutinya.

In [ ]:
# Contoh

teks = 'abcabcabc'

re.findall(r'(abc)+', teks)

['abc']

In [ ]:
re.findall(r'abc+', teks)

['abc', 'abc', 'abc']

In [ ]:
# Kalau mau tertangkap semua yang ada di dalam teks, 
    # saat grouping berarti harus menggunakan ?:

# (?:...) berarti sebuah set of non-capturing grouping parentheses.

re.findall(r'(?:abc)+', teks)

['abcabcabc']

### **Alternative**

- (|) atau nama lainnya adalah pipe.
- Berati or, yang mana yang akan tertangkap adalah regex yang match pertama saja (hanya salah satu), meskipun kondisi setelahnya match juga maka akan diabaikan.

In [ ]:
# Contoh menggunakan method search
re.search(r'\d{3}|\d{4}|\b[A-Z]{4}\b', 
'''300 ekor kucing 
berhasil diselamatkan''')

In [ ]:
# Contoh dengan method findall
re.findall(r'\d{3}|\d{4}|\b[A-Z]{4}\b', 
'300 ekor kucing berhasil diselamatkan')

['300']

- Karena '300' sudah match dengan regex pertama, maka outcome-nya hanya 300 saja. Sisa kata setelahnya akan diabaikan meskipun match dengan regex pattern.