In [9]:
import pandas as pd
df = pd.DataFrame({
    'col1' : [1,2,3,4],
    'col2' : [444,555,666,444],
    'col3' : ['abcd','efgh','ij','xyz'],
})
df.head()

   col1  col2  col3
0     1   444  abcd
1     2   555  efgh
2     3   666    ij
3     4   444   xyz

In [10]:
df['col1']*2

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [11]:
def times2(x):
    return x*2

.apply will implement a function for each row.

In [12]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [13]:
def gabung(x):
    if x % 2 == 0:
        return str(x) + ' genap'# + x['col3']
    else:
        return str(x) + ' ganjil'# + x['col3']

In [14]:
df['col1'].apply(gabung)

0    1 ganjil
1     2 genap
2    3 ganjil
3     4 genap
Name: col1, dtype: object

In [15]:
len(df)

4

In [16]:
df['col3'].apply(len)

0    4
1    4
2    2
3    3
Name: col3, dtype: int64