# **INTRO TO STATISTICS**

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## NUMERICAL SUMMARY

In [15]:
display(tips.describe()) #id you want to have numerical summary by pandas library
display(tips.describe().loc['25%']) #if you want to select just 25% (Q1) of the data
display(np.mean(tips['total_bill'])) #if you want to  call the mean by numpy library
display(tips['total_bill'].mean()) #if you want to call the mean by pandas library
print(f'standar deviasi tip: {tips["tip"].std()}')

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

total_bill    13.3475
tip            2.0000
size           2.0000
Name: 25%, dtype: float64

19.78594262295082

19.78594262295082

standar deviasi tip: 1.3836381890011822

## CATEGORICAL SUMMARY

In [14]:
display(tips.describe(exclude='number'))
print(f'modus dari smoker: {tips["smoker"].mode().values[0]}')

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

modus dari smoker: No
modus dari smoker: 1.3836381890011822

## TABLE SUMMARY

In [30]:
display(pd.crosstab(tips['size'],tips['day']))
display(pd.crosstab(tips['day'],tips['sex']))

day   Thur  Fri  Sat  Sun
size
1        1    1    2    0
2       48   16   53   39
3        4    1   18   15
4        5    1   13   18
5        1    0    1    3
6        3    0    0    1

sex   Male  Female
day
Thur    30      32
Fri     10       9
Sat     59      28
Sun     58      18